<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
</head>
<body>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Codigo del Producto</th>
                    <th>Nombre del Producto</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>laboratorio</th>
                    <th>Fecha Registro</th>
                </tr>
            </thead>
            <tbody>
                {%for producto in productos%}
                <tr>
                    <td>{{producto.codigo}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.estado}}</td>
                    <td>{{producto.nombre_laboratorio}}</td>
                    <td>{{producto.fecha_registro}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>